.news{

text-align: center;


}
.pull__refresh{
color: red;

}
.stories{
margin: 10px;
background-color:white;
color:black;
border-radius: 3px;

}
.stories2>p{
  text-shadow: 2px 2px 4px  ;
padding: 5px;
color:#2196f3;

}
.stories2>.MuiSvgIcon-root{
color:orange;
text-shadow: 2px 2px 4px  
}
.stories2{
align-items: center;
display: flex;
  justify-content: center;  
        }
.stort_title>p{

    font-family: 'Commissioner', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
    justify-content: baseline;
    color:white;
    font-size: 15px;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    align-items: flex-start;
    
    flex: 1;text-align: left;
    margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
   background-color:black;
   margin-top: 100px;
padding: 2px;




}
.loader__news{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
margin-top: 5%;
}
